:root {
    --omnibox-wrapper-size: clamp(5rem, 3.4375rem + 2 * 3%,  6rem);
    --toolbar-size: var(--omnibox-wrapper-size);
    --bookmarks-display: none;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #fff199;

    background-image:
        radial-gradient(at 53% 79%, rgb(80, 156, 255) 0, transparent 50%),
        radial-gradient(at 74% 14%, rgb(93, 137, 218) 0, transparent 50%),
        radial-gradient(at 55% 5%, rgb(81, 186, 235) 0, transparent 50%),
        radial-gradient(at 98% 25%, rgb(107, 55, 251) 0, transparent 50%),
        radial-gradient(at 56% 24%, rgb(68, 93, 206) 0, transparent 50%),
        radial-gradient(at 75% 17%, rgb(42, 53, 209) 0, transparent 50%),
        radial-gradient(at 65% 3%, rgb(144, 159, 244) 0, transparent 50%);

    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
}

/*add dark filter on top*/
.gradient-background::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
}

#uv-form {
    display: flex;
}

.search-container {
    position: relative;
    width: min(50rem, 80%);
}

.loader {
    position: absolute;
    top: calc(50% - 3.125rem/2);
    left: calc(50% - 3.125rem/2);
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: 0.5rem solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

.uv-frame {
    position: absolute;
    top: var(--toolbar-size); 
    left: 0;
    width: 100%;
    height: calc(100% - var(--toolbar-size));
    border: none;
}

.loaded-frame {
    background: white;
}

.none {
    display: none !important;
}

.navigator-wrapper {
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon {
    fill: white;
    width: 2rem;
    height: 2rem;
    stroke-linejoin: bevel;
    stroke-width: 0.25rem;
    padding: 0.25rem;
}

.nav-icon:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.with-bookmarks {
    --toolbar-size: calc(var(--omnibox-wrapper-size) + 2.5rem);
    --bookmarks-display: flex;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.toolbar-wrapper {
    width: 100%;
    display: flex;
    height: var(--toolbar-size);
    flex-wrap: wrap;
    align-content: space-evenly;
}

.bookmarks-wrapper {
    width: 100%;
    height: 2rem;
    display: var(--bookmarks-display);
    align-items: center;
    justify-content: left;
    /* gap: 1rem; */
    margin: 0 1rem 0.75rem;
    align-self: start;
}

.bookmark-favicon {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}

.bookmark {
    display: flex;
    align-items: center;
    color: white;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: default;
}
.bookmark:hover:not(.dragging){
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
}
.bookmark-favicon-waiting {
    visibility: hidden;
}
.omnibox-wrapper {
    width: 100%;
    display: flex;
    height: var(--omnibox-wrapper-size);
    justify-content: center;
    align-items: center;
}

.omnibox {
    width: 90%;
}

.search-input {
    width: 100%;
    height: 3.4375rem;
    border: none;
    border-radius: 1.5625rem;
    font-size: 1rem;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

#uv-address {
    width: 100%;
    height: 2.1875rem;
    
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 1.5625rem;
    font-size: 1rem;
    outline: none;
    background: none;
    backdrop-filter: none;
    box-shadow: none;
    transition: none;
    
}
#uv-address::selection {
    background-color: lightblue;
}

.bookmark-star {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    padding: 0.25rem;
}
.bookmark-star:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.bookmark-divider {
    color: lightblue;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vhidden {
    visibility: hidden;
}

.vertical-bar {
    stroke: lightblue;
    stroke-width: 0.5rem;
}

.search-input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.15);
}

.navbar {
    border-bottom-left-radius: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.settings {
    position: relative;
    margin: 0.5% 3% 0.5% 3%;
}

.settings-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.settings-button img {
    width: 2.1875rem;
    height: 2.1875rem;
}

.settings-button:hover img {
    opacity: 0.6;
}

.logo img {
    width: 2.1875rem;
    height: 2.1875rem;
    padding: 0;
}


.navbar.hidden {
    transform: translateY(-100%);
}

.notch {
    width: 3.125rem;
    height:0.3125rem;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    z-index: 1001;
    cursor: pointer;
}

.no-pointer-events {
    pointer-events: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}