html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #fff199;
  background-image: 
    radial-gradient(at 53% 79%, rgb(80, 156, 255) 0px, transparent 50%),
    radial-gradient(at 74% 14%, rgb(93, 137, 218) 0px, transparent 50%),
    radial-gradient(at 55% 5%, rgb(81, 186, 235) 0px, transparent 50%),
    radial-gradient(at 98% 25%, rgb(107, 55, 251) 0px, transparent 50%),
    radial-gradient(at 56% 24%, rgb(68, 93, 206) 0px, transparent 50%),
    radial-gradient(at 75% 17%, rgb(42, 53, 209) 0px, transparent 50%),
    radial-gradient(at 65% 3%, rgb(144, 159, 244) 0px, transparent 50%);
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}

/*add dark filter on top*/
.gradient-background::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
#uv-form {
    display: flex;
}

.search-container {
  position: relative;
  width: min(50rem, 80%);
}

.search-input {
  width: 100%;
  height: 35px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
  color: rgba(255, 255, 255, 0.85);
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.navbar {
  border-bottom-left-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.settings {
  position: relative;
}

.settings-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.settings-button img {
  width: 26px;
  height: 26px;
  padding: 0px 50px;
}

.settings-button:hover img {
  opacity: 0.6;
}

.logo img {
  width: 35px;
  height: 35px;
  padding: 0px;
}

.navbar {
  transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.notch {
  width: 50px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1001;
  cursor: pointer;
}
.no-pointer-events {
  pointer-events: none;
}
@keyframes gradientAnimation {
  0% { 
    background-position: 0% 0%; 
  }
  25% { 
    background-position: 100% 0%; 
  }
  50% { 
    background-position: 100% 100%; 
  }
  75% { 
    background-position: 0% 100%; 
  }
  100% { 
    background-position: 0% 0%; 
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }
    
  100% {
    transform: translateX(1);
  }
}
